<div class="menu">
  <a routerLink="/lancamentos" class="menu__item">
    <div class="new">
    </div>
    <img
      src="https://img.icons8.com/?size=512&id=jnQopanKAtBo&format=png"
      class="menu__icon"
    />
    <p class="menu__label">LANÇAMENTOS</p>
  </a>
  <a routerLink="" disabled class="menu__item disabled">
    <div class="wip">
    </div>
    <img
      src="https://img.icons8.com/?size=512&id=addAUvXvbSyA&format=png"
      class="menu__icon"
    />
    <p class="menu__label">NOVO MÓDULO</p>
  </a>
</div>
